In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/LR.csv")
print(df)

       Name  Age  Experience  Salary
0       Jay   22           1   75000
1  Sunayana   22           2   70000
2     Aditi   23           3   65000
3     Purva   25           4   70000

two ways to select a col

1

In [ ]:
print(df.Experience)

0    1
1    2
2    3
3    4
Name: Experience, dtype: int64

2

In [ ]:
A = df['Age']
print(A)

0    22
1    22
2    23
3    25
Name: Age, dtype: int64

In [ ]:
print(type(A))

<class 'pandas.core.series.Series'>

converting into list

1

In [ ]:
b = list(df['Age'])
print(b)
print(type(b))

[22, 22, 23, 25]
<class 'list'>

2

In [ ]:
b = list(A)
print(b)
print(type(b))

[22, 22, 23, 25]
<class 'list'>

selecting multiple cols

nested list-- creates 2D array

In [ ]:
print(df[['Age','Experience']])

   Age  Experience
0   22           1
1   22           2
2   23           3
3   25           4

In [ ]:
c= df[['Age','Experience']]
print(c)
print(type(c))

   Age  Experience
0   22           1
1   22           2
2   23           3
3   25           4
<class 'pandas.core.frame.DataFrame'>

In [ ]:
total = df['Age'] + df['Experience']
print(total)
print(type(total))

0    23
1    24
2    26
3    29
dtype: int64
<class 'pandas.core.series.Series'>

adding total as a col to the existing data

In [ ]:
df['total'] = total
print(df)
print(type(df))

       Name  Age  Experience  Salary  total
0       Jay   22           1   75000     23
1  Sunayana   22           2   70000     24
2     Aditi   23           3   65000     26
3     Purva   25           4   70000     29
<class 'pandas.core.frame.DataFrame'>

col deletion

1.Pop func

In [ ]:
df = pd.read_csv("/content/LR.csv")
print(df)

       Name  Age  Experience  Salary
0       Jay   22           1   75000
1  Sunayana   22           2   70000
2     Aditi   23           3   65000
3     Purva   25           4   70000

In [ ]:

df.pop('Age')

0    22
1    22
2    23
3    25
Name: Age, dtype: int64

its displaying the col deleted

In [ ]:
print(df)

       Name  Experience  Salary
0       Jay           1   75000
1  Sunayana           2   70000
2     Aditi           3   65000
3     Purva           4   70000

2.Del

In [ ]:
del df['Experience']
print(df)

       Name  Salary
0       Jay   75000
1  Sunayana   70000
2     Aditi   65000
3     Purva   70000

3.Drop

In [ ]:
df1 = df.drop('total',axis = 1)
print(df1)

KeyError: "['total'] not found in axis"

Row Selection

2 ways:

1)loc
2)iloc /// these are attributes

In [ ]:
print(df)

       Name  Salary
0       Jay   75000
1  Sunayana   70000
2     Aditi   65000
3     Purva   70000

In [ ]:
print(df.loc[0])

Name        Jay
Salary    75000
Name: 0, dtype: object

In [ ]:
A = df.loc[2]
print(A)
print(type(A))

Name      Aditi
Salary    65000
Name: 2, dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
B= df.loc[3].values
print(B)
print(type(B))

['Purva' 25 4 70000]
<class 'numpy.ndarray'>

series ki method h tolist()

In [ ]:
B= df.loc[3].to_list()
print(B)
print(type(B))

['Purva', 70000]
<class 'list'>

In [ ]:
print(df.loc[1:3])

       Name  Salary
1  Sunayana   70000
2     Aditi   65000
3     Purva   70000

In [ ]:
print(df.loc[0:4:2])

    Name  Salary
0    Jay   75000
2  Aditi   65000

In [ ]:
a= df.loc[0:4:2]
print(type(a))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
a= df.loc[0:4:2].tolist()
print(type(a))

AttributeError: 'DataFrame' object has no attribute 'tolist'

data frame cant be converted into list, usko series me lena padega 1st

In [ ]:
a= df.loc[0:4:2].values
print(type(a))

<class 'numpy.ndarray'>

In [ ]:
c = df.iloc[3]
print(c)

Name          Purva
Age              25
Experience        4
Salary        70000
Name: 3, dtype: object

In [ ]:
c = df.iloc[2:3]
print(c)

    Name  Age  Experience  Salary
2  Aditi   23           3   65000

iloc excludes in [2:3]

In [ ]:
import pandas as pd
data={'one':[1,2,3],'two':[6,7,8]}
df=pd.DataFrame(data,index=["A1","B1","C1"])
print(df)

    one  two
A1    1    6
B1    2    7
C1    3    8

In [ ]:
print(df.loc[0])

KeyError: 0

In [ ]:
print(df.iloc[0])

one    1
two    6
Name: A1, dtype: int64

takes int index only

In [ ]:
print(df.loc['A1'])

NameError: name 'df' is not defined

loc takes label index only

In [ ]:
print(df)

       Name  Salary
0       Jay   75000
1  Sunayana   70000
2     Aditi   65000
3     Purva   70000

In [ ]:
b= df.loc[[2,3]].values
print(b)

[['Aditi' 65000]
 ['Purva' 70000]]

In [ ]:
df1= df.drop('Age',axis=1)
print(df1)

KeyError: "['Age'] not found in axis"

In [ ]:
df1= df.drop(3,axis=0)
print(df1)

       Name  Salary
0       Jay   75000
1  Sunayana   70000
2     Aditi   65000

In [ ]:
df1= df.drop([0,2],axis=0)
print(df1)

       Name  Age  Experience  Salary
1  Sunayana   22           2   70000
3     Purva   25           4   70000

In [ ]:
print(df)

       Name  Salary
0       Jay   75000
1  Sunayana   70000
2     Aditi   65000
3     Purva   70000

In [ ]:
sal = df['Salary'].max()
print(sal)

75000

In [ ]:
sal = df['Salary'].min()
print(sal)

65000

In [ ]:
sal = df['Salary'].mean()
print(sal)

63750.0

In [ ]:
sal = df['Salary'].sum()
print(sal)

255000

In [ ]:
sal = df['Salary'].idxmax()
a=df.loc[sal]
print(a['Name'])

Jay

In [ ]:
sal = df['Salary'].max()
name=df[df['Salary']==sal]['Name']
print(name.to_list())

['Jay']

In [ ]:
df.head()

       Name  Salary
0       Jay   75000
1  Sunayana   70000
2     Aditi   65000
3     Purva   70000

In [ ]:
df.head(2)

       Name  Salary
0       Jay   75000
1  Sunayana   70000

first 5 karega

In [ ]:
df.tail()

       Name  Salary
0       Jay   75000
1  Sunayana   70000
2     Aditi   65000
3     Purva   70000

last 5 display karega

In [ ]:
df['Percentage'] = [80, 50,30,90]
print(df)

       Name  Salary  Percentage
0       Jay   75000          80
1  Sunayana   70000          50
2     Aditi   65000          30
3     Purva   70000          90

The rank() function is used to compute numerical data ranks (1 through n) along axis

In [ ]:
df['Rank'] = df['Percentage'].rank()
print(df)

       Name  Salary  Percentage  Rank
0       Jay   75000          80   3.0
1  Sunayana   70000          50   2.0
2     Aditi   65000          30   1.0
3     Purva   70000          90   4.0

In [ ]:
df['Rank'] = df['Percentage'].rank(ascending=False)
print(df)

       Name  Salary  Percentage  Rank
0       Jay   75000          80   2.0
1  Sunayana   70000          50   3.0
2     Aditi   65000          30   4.0
3     Purva   70000          90   1.0

In [ ]:
df.sort_index(ascending=False)

       Name  Salary  Percentage  Rank
3     Purva   70000          90   1.0
2     Aditi   65000          30   4.0
1  Sunayana   70000          50   3.0
0       Jay   75000          80   2.0

In [ ]:
print(df.sort_values(by=['Percentage'], ascending=False))

       Name  Salary  Percentage  Rank
3     Purva   70000          90   1.0
0       Jay   75000          80   2.0
1  Sunayana   70000          50   3.0
2     Aditi   65000          30   4.0

In [ ]:
df=df.drop('Rank',axis=1)

In [ ]:
print(df)

       Name  Salary  Percentage
0       Jay   75000          80
1  Sunayana   70000          50
2     Aditi   65000          30
3     Purva   70000          90

In [ ]:
df.loc[len(df)] = ['Kakde',50000, 89]
df

       Name  Salary  Percentage
0       Jay   75000          80
1  Sunayana   70000          50
2     Aditi   65000          30
3     Purva   70000          90
4     Kakde   50000          89
5     Kakde   50000          89

In [ ]:
df.loc[len(df)] = ['Sdanand',50000, 89]

In [ ]:
df.loc[len(df)] = ['Mayuresh',710000, 91]
df

       Name  Salary  Percentage
0       Jay   75000          80
1  Sunayana   70000          50
2     Aditi   65000          30
3     Purva   70000          90
4     Kakde   50000          89
5     Kakde   50000          89
6   Sdanand   50000          89
7  Mayuresh  710000          91
8  Mayuresh  710000          91

In [ ]:
df = pd.read_csv("/content/LR.csv")
print(df)

       Name  Age  Experience  Salary
0       Jay   22           1   75000
1  Sunayana   22           2   70000
2     Aditi   23           3   65000
3     Purva   25           4   70000

In [ ]:
grouped = df.groupby('Salary')
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7bb866f661d0>

In [ ]:
max_age = grouped['Age'].max()
print(max_age)

Salary
65000    23
70000    25
75000    22
Name: Age, dtype: int64

In [ ]:
min_age = grouped['Age'].min()
print(min_age)

Salary
65000    23
70000    22
75000    22
Name: Age, dtype: int64

In [ ]:
df = pd.read_csv("/content/LR1.csv")
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
grp_ctry = df.groupby('Country')
max_sal = grp_ctry['Salary'].max()
print(max_sal)

Country
France     79000.0
Germany    83000.0
Spain      61000.0
Name: Salary, dtype: float64

In [ ]:
grp_ctry = df.groupby('Country')
min_sal = grp_ctry['Salary'].min()
print(min_sal)

Country
France     58000.0
Germany    54000.0
Spain      48000.0
Name: Salary, dtype: float64

In [ ]:
grp_ctry = df.groupby('Country')
avg_sal = grp_ctry['Salary'].mean()
print(avg_sal)

Country
France     69000.000000
Germany    68500.000000
Spain      53666.666667
Name: Salary, dtype: float64

In [ ]:
for country, grouped_data in grp_ctry:
  print(f"Country:{country}")
  print(grouped_data)
  print("\n")

Country:France
  Country   Age   Salary Purchased
0  France  44.0  72000.0        No
5  France  35.0  58000.0       Yes
7  France  48.0  79000.0       Yes
9  France  37.0  67000.0       Yes


Country:Germany
   Country   Age   Salary Purchased
2  Germany  30.0  54000.0        No
4  Germany  40.0      NaN       Yes
8  Germany  50.0  83000.0        No


Country:Spain
  Country   Age   Salary Purchased
1   Spain  27.0  48000.0       Yes
3   Spain  38.0  61000.0        No
6   Spain   NaN  52000.0        No